<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPLE</key>
	<string>_ _ _ _ _</string>
	<key>IPAD</key>
	<string>_ _ _ _</string>
	<key>COMPUTER</key>
	<string>_ _ _ _ _ _ _ _</string>
	<key>MACBOOK</key>
	<string>_ _ _ _ _ _ _</string>
</dict>
</plist>
